h1{
	color: black;
	font-size: 70px;
	text-align: center;
}
.p1{
	color: black;
    font-size: 50px;
    text-align: center;
}
.imagem{
	font-size: 50%;
	text-align: center;

}

h2{
	color: black;
	text-align: center;
	font-size: 60px;
}
.historia{
	color: black;
	font-size: 40px;
}
.paragrafo{
	color: black;
	font-size: 30px;
}
.Leonidas{
	color: black;
	font-size: 40px;
}
.paragrafo2{
	color: black;
	font-size: 30px;
}
.h3{
	color: black;
	font-size: 60px;
	text-align: center;
}
.texto{
   color: black;
   font-size: 30px;
}
.h4{
	color: black;
	text-align: center;
	font-size: 60px;
}
.imagem2{
	text-align: center;
	font-size: 50%;
}